.distribution-bar {
  position: absolute;
  top: 70px;
  left: 80px;
  z-index: 20;
  height: 100%;
  width: 290px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enables scrolling when content overflows */
  max-height: calc(100vh - 80px); /* Ensure toolbar fits within the viewport */
}

.distribution-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.distribution-select {
  margin-bottom: 16px;
}

.distribution-select label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #555;
}

.distribution-select select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #333;
}

.distribution-parameters {
  margin-bottom: 16px;
}

.parameter-field {
  margin-bottom: 12px;
}

.parameter-field label {
  display: block;
  font-size: 1rem;
  color: #555;
}

.parameter-field input {
  width: 95%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #333;
}

.update-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0056b3;
}

.distribution-bar .parameter-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.distribution-bar .parameter-field label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #666;
}

.distribution-bar .parameter-field input {
  font-size: 1rem;
}
